---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=notalocation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.028 TT 0 0.028"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 0,
            "start": 0,
            "numFoundExact": true,
            "docs": [],
            "num_found": 0,
            "q": "notalocation",
            "offset": null
        }
  recorded_at: Mon, 26 Sep 2022 15:23:37 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_api_key>&location=notalocation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 15:23:37 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"notalocation"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_api_key>&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=163424872"}]}]}'
  recorded_at: Mon, 26 Sep 2022 15:23:37 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_api_key>&lat=39.390897&lon=-99.066067&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664205817,"sunrise":1664195256,"sunset":1664238449,"temp":65.48,"feels_like":63.09,"pressure":1023,"humidity":29,"dew_point":32.41,"uvi":1.52,"clouds":2,"visibility":10000,"wind_speed":2.95,"wind_deg":89,"wind_gust":2.89,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1664205840,"precipitation":0},{"dt":1664205900,"precipitation":0},{"dt":1664205960,"precipitation":0},{"dt":1664206020,"precipitation":0},{"dt":1664206080,"precipitation":0},{"dt":1664206140,"precipitation":0},{"dt":1664206200,"precipitation":0},{"dt":1664206260,"precipitation":0},{"dt":1664206320,"precipitation":0},{"dt":1664206380,"precipitation":0},{"dt":1664206440,"precipitation":0},{"dt":1664206500,"precipitation":0},{"dt":1664206560,"precipitation":0},{"dt":1664206620,"precipitation":0},{"dt":1664206680,"precipitati[...]
