---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=notalocation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.149 TT 0 0.149"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 0,
            "start": 0,
            "numFoundExact": true,
            "docs": [],
            "num_found": 0,
            "q": "notalocation",
            "offset": null
        }
  recorded_at: Tue, 27 Sep 2022 05:10:32 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_api_key>&location=notalocation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Sep 2022 05:10:32 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"notalocation"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_api_key>&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=1569839883"}]}]}'
  recorded_at: Tue, 27 Sep 2022 05:10:32 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_api_key>&lat=39.390897&lon=-99.066067&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664255432,"sunrise":1664281711,"sunset":1664324751,"temp":61.61,"feels_like":59.31,"pressure":1019,"humidity":39,"dew_point":36.45,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":9.53,"wind_deg":166,"wind_gust":19.62,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1664255460,"precipitation":0},{"dt":1664255520,"precipitation":0},{"dt":1664255580,"precipitation":0},{"dt":1664255640,"precipitation":0},{"dt":1664255700,"precipitation":0},{"dt":1664255760,"precipitation":0},{"dt":1664255820,"precipitation":0},{"dt":1664255880,"precipitation":0},{"dt":1664255940,"precipitation":0},{"dt":1664256000,"precipitation":0},{"dt":1664256060,"precipitation":0},{"dt":1664256120,"precipitation":0},{"dt":1664256180,"precipitation":0},{"dt":1664256240,"precipitation":0},{"dt":1664256300,"precipitati[...]
